<% include ../titlebar.ejs %>
<h1>Register</h1>
<h1><%= error %></h1>
<form method="post" action="/member/register">
    <p>
        <label>Name:</label>
        <input type="text" name="name">
    </p>
    <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Register">
  </p>
</form>