@charset "utf-8";
body {padding: 50px;}
.register {position: fixed; left: 50%; top: 50%; padding: 3px 60px 60px; width: 820px; height:833px; 
    transform: translate(-50%, -50%);  box-sizing: border-box;}
.register h2 { padding: 0 0 42px; border-bottom: 3px solid #444; font-weight: normal; 
    font-size: 36px; color:#222; text-align: center; line-height: 100%;}


.register .con {padding: 40px 78px; border-bottom:1px solid #e8e8e8;}

.agree { position: relative; margin: 28px 0 0; padding: 0 30px; height: 60px; border: 1px solid #e8e8e8; line-height: 60px;}
.agree label span { color: #de4f41;}
.agree a.view {position: absolute; right: 30px; top: 15px; width: 93px; height: 30px;
border: 1px solid #ddd; text-align: center; line-height: 30px; border-radius: 3px;}

table.type1 {border-bottom: 1px solid #e8e8e8;}
table.type1 th,
table.type1 td { padding: 0 0 20px;}
table.type1 th { padding-top: 15px; font-size: 14px; color:#222; text-align: left; 
    font-weight: normal; vertical-align: top;}
table.type1 th span { color: #de4f41;}
table.type1 textarea {height: 116px;}
table.type1 tr:last-child th,
table.type1 tr:last-child td { padding: 0 0 30px;}

input [type="checkbox"] {position: absolute; left: -3000%;}
input [type="checkbox"] + label {font-size: 14px; color: #666;}
input [type="checkbox"] + label :before { margin: 0px 0 0;}
.txt_center { text-align: center; padding: 30px 0 0;}
.btn_type1 {display: inline-block; width: 170px; height: 50px; background: #de4f41; 
line-height: 50px; color:#fff; text-align: center;}
.btn_type2 {display: inline-block; width: 170px; height: 50px; background: #de4f41;
line-height: 50px; color:#fff; text-align: center;}

